.App {
  text-align: center;
}
h2 {
  font-size: xx-large;
}
.maintempBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.castBox {
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  max-width: 90%;
  padding: 10px;
}
.day {
  border: 1px solid #ccc;
  padding: 5px;
}
.Contanier {
  border-style: dotted;
  margin: auto;
  max-width: 50%;
}
